<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="blank">
    <div class="wrapper">
        <section class="content">
            @RenderBody()
        </section>

        @Scripts.Render("~/bundles/jquery")
        <script src="~/Scripts/bootstrap.bundle.min.js"></script>
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
