@model eUseControl.web.Models.RegisterViewModel
@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Register";
}

<h2>Înregistrare</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.Username)
    @Html.TextBoxFor(m => m.Username)
    @Html.ValidationMessageFor(m => m.Username)

    <br />

    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email)
    @Html.ValidationMessageFor(m => m.Email)

    <br />

    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password)
    @Html.ValidationMessageFor(m => m.Password)

    <br />

    @Html.LabelFor(m => m.ConfirmPassword)
    @Html.PasswordFor(m => m.ConfirmPassword)
    @Html.ValidationMessageFor(m => m.ConfirmPassword)

    <br />

    <button type="submit">Înregistrează-te</button>

    <p>
        Ai deja cont? <a href="@Url.Action("Index", "Login")">Autentifică-te</a>
    </p>

    if (ViewBag.Error != null)
    {
        <p style="color:red">@ViewBag.Error</p>
    }
}
